
<header class="site-header sticky-top">

    <nav class="navbar navbar-expand-md navbar-light fixed-top site-header-navbar shadow">
        <div class="container-fluid container">
            <h1 class="navbar-brand diascorn"><img class="mr-4 logo_entreprise" src="{{asset('assets/img/arbre.png')}}" alt="logo-entreprise">Diascorn Robert</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'home' %}active{% endif %}" aria-current="page" href="{{ path('home')}}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'realisations' %}active{% endif %}" href="{{ path('realisations') }}">Réalisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') starts with 'contact' %}active{% endif %}" href="#" tabindex="-1" aria-disabled="true">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
