{% extends 'base.html.twig' %}

{% block title %}Diascorn Robert - Mentions-légales{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-5">
        <div class="col-md-6">
        <h4 class="title-color">Mentions légales</h4>
        <h5 class="subtitle-color">Editeur</h5>
        <p><b>Diascorn Robert</b><br>Rue de Kergorentin<br>29120 Plomeur - FRANCE<br>Tél. 02 98 82 03 45<br></p>
        </div>
        <div class="col-md-6">
            <h4 class="title-color">Crédits</h4>
            <h5 class="subtitle-color">Réalisation du site</h5>
            <p>Le site a été réalisé par Jérémy Le Berre - Développeur Web.<br>
                Directeur de la rédaction et de la publication Robert Diascorn.<br>
                Bootstrap, Flaticon, Pixabay.
            </p><br>
            <h5 class="subtitle-color">Réalisation du site</h5>
            <p>En théorie ovh nom de domaine bzh à voir avec BOB</p>
        </div>
    </div>
    <h5 class="subtitle-color">Propriéte intellectuelle</h5>
    <p>
        L’ensemble de ce site relève de la législation française et internationale sur les droits d’auteur et de la propriété intellectuelle. Les noms, marques et enseignes cités sur ce site sont la   propriété de leurs déposants respectifs. Toute utilisation ou reproduction, totale ou partielle, du site, des éléments qui le composent et/ ou des informations qui y figurent, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée par le Code de la propriété intellectuelle.
        Les documents, informations, éléments graphiques, … de toute nature figurant sur le site Robert Diascorn ne peuvent faire l’objet de copie sauf à des fins strictement privées. De la même manière, ils ne peuvent en aucun cas être reproduits ni modifiés, que ce soit à titre onéreux ou gracieux, sans autorisation expresse écrite de Robert Diascorn.
    </p>
   <h5 class="subtitle-color">Liens hypertextes</h5>
    <p>
        Robert Diascorn autorise tout site Internet à établir un lien pointant vers l’adresse www.robert-diascorn.bzh après une simple information préalable du webmaster. Tout lien de ce type interviendra toutefois sous réserve des dispositions légales en vigueur.
        Robert Diascorn se réserve la possibilité, à tout moment, sans préavis et sans avoir à motiver sa décision, d’interdire ces liens.
        Dans ce cas il informera la personne concernée qui disposera de 2 jours ouvrés pour mettre fin au lien.
    </p>
    <h5 class="subtitle-color">Interdiction de mirroring</h5>
    <p>
        Aucune mise en ligne du Site par un tiers sous une autre URL n’est autorisée.
    </p>
    <h5 class="subtitle-color">Disfonctionnement ou virus</h5>
    <p>
        Actuellement les versions Chrome et Firefox assurent le meilleur fonctionnement de ce site.
        Robert Diascorn ne pourra être tenu responsable des dommages directs ou indirects résultant de l’utilisation de ce site web, ou de l’impossibilité pour un tiers de l’utiliser, ou d’un mauvais fonctionnement, d’une interruption, d’un virus, résultant de l’accès ou de l’utilisation de ce site ou de tous sites qui lui sont liés.
    </p>
    <h5 class="subtitle-color">Sites liés</h5>
    <p>
        Robert Diascorn décline toute responsabilité concernant le contenu disponible sur les autres sites internet vers lesquels il a créé des liens ou qui auraient pu être créés à son insu. L’accès à tous les autres sites internet liés à ce site web se fait aux risques de l’utilisateur. Robert Diascorn décline aussi toute responsabilité pour toutes les informations contenues sur des sites tiers où figurent des liens renvoyant au site www.robert-diascorn.bzh
    </p>
</div>

{% endblock %}
